*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
header{
    background-color: rgb(77, 9, 77);
    height: 90px;
    position: relative;
}
#menu, label{
    display: none;
}
.navBar{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}
.encabezadoPrincipal{
    margin-top: 30px;
    color: white;
}
.listaNav{
    width: 80%;
    height: 58px;
    display: flex;
    justify-content: space-around;
}
.boton{
    margin: 25px;
    list-style: none;
}
.encabezadoPrincipal a{
    text-decoration: none;
    color: rgb(216, 182, 216);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.encabezadoPrincipal a:hover{
    color: rgb(230, 210, 230);
}
.boton a{
    background-color: rgb(216, 182, 216);
    text-decoration: none;
    padding-top: 8px;
    color: white;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 20px 0 20px 0;
    font-size: 18px;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.boton a:hover{
    background-color: rgb(190, 145, 190);
}
main{
    position: relative;
}
h2{
    margin-left: 55%;
    margin-top: 50px;
    color: rgb(77, 9, 77);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-shadow: 3px 3px 4px rgba(41, 38, 40, 0.5);
}
.fotoPerfil{
    border: 4px rgb(168, 126, 168) inset;
    border-radius: 200px;
}
.fotoPerfil:hover{
    transform: scale(1.1);
    border: 4px rgb(168, 126, 168) outset;
    transition: all 1.3s;
}
.contenido{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.contenedorDescripcion{
    background-color: rgb(194, 185, 194);
    border-radius: 10px;
    width: 70%;
    padding: 25px;
    text-align:justify;
    line-height: 35px;
    word-spacing: 1px;
    vertical-align: bottom;
    box-shadow: 5px 5px 5px 5px rgb(72, 72, 72);
    display: flex;
}
.img-estudio{
    width: 420px;
    height: 280px;
    border-radius: 5px;
}
.img-experiencia{
    width: 390px;
    height: 250px;
    border-radius: 8px;
}
.img-competencias{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 260px;
}
.texto-alineado{
    max-width: 70%;
    margin-right: 25px;
}
.parrafoDestacado{
    font-size: 19px;
    font-weight: bolder;
    color: rgb(59, 39, 59);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contenedorParrafos li{
    padding-left: 30px;
    list-style-position: inside;
}
.contenedorParrafos p a:hover{
    color: rgb(106, 105, 105);
}
.tecnologias{
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 39, 59);
    margin-top: 50px;
    margin-left: 46%;
    border-bottom: 2px rgb(145, 109, 145) solid;
}
.logos{
    margin-top: 100px;
    padding: 15px;
    display: flex;
    justify-content:flex-start;
    gap: 180px;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    margin-bottom: 50px;
}
footer{
    height: 50px;
    background-color: rgb(77, 9, 77);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}
footer img{
    color: white;
}
.iconos-footer li{
    list-style: none;
}
.iconos-footer{
    display: flex;
    margin-top: 10px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:600px) {
    header{
        height: 70px;
    }
    .navBar{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-left: 40px;
        margin-right: 20px;
    }
    input:checked ~ li{
        display: block;
    }
    input:checked ~ label{
        background-color: rgb(77, 9, 77);
        height: 100vh;
        width: 100vw;
        z-index: 100;
    }
    label:hover{
        background-color: gray;
    }
    label li a{
        display: flex;
        flex-direction: column;
        color: white;
    }
    .encabezadoPrincipal{
        margin-top: 25px;
        font-size: 18px;
        width: 100%;
    }
    .boton{
        margin: 0;
        display: none;
    }
    label{
        box-sizing: border-box;
        display: block;
        font-size: 25px;
        width: 30px;
        height: 30px;
        color: white;
        margin-top: 20px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }
    .listaNav{
        display: none;
    }
    main{
        position: relative;
    }
    .contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 100px;
    }
    h2{
        margin-top: 30px;
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
    .fotoPerfil{
        width: 250px;
        height: 250px;
    }
    .contenedorDescripcion{
        display: flex;
        flex-direction: column;
        line-height: 28px;
        width: 80%;
        word-spacing: 0px;
        gap: 10px;
    }
    .texto-alineado{
        max-width: fit-content;
        word-spacing: 0;
    }
    .img-experiencia{
        width: 370px;
        height: 230px;
        margin-left: 30px;
    }
    .img-estudio{
        width: 380px;
        height: 240px;
        margin-left: 25px;
    }
    .tecnologias{
        margin-top: 10px;
        margin-left: 40%;
    }
    .logos{
        margin-top: 80px;
        padding: 0px;
        gap: 100px;
        margin-right: 8px;
        justify-content: center;
    }
    .img-competencias{
        width: 380px;
        height: 230px;
        margin-left: 25px;
    }
    
}
